html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td:nth-child(even), th:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}